
wrap {
width: 100%;
overflow:auo;
}

fleft {
    float:left; 
    width: 20%;
background:blue;
    height: 500px;
}

fright {
float: right;
    background:white;
    height: 100%;
    width: 85%;
}
